.boton{
    background-color: cornflowerblue;
    font-weight: 800;
    grid-area: boton;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    a{
        text-decoration: none;
        color: white;
    }
}

.boton_footer{
    @extend.boton;

    color: grey;
    border: 2px white solid;
    border-radius: 5%;
    margin-top: 5vh;
}
